# Node.js
node_modules
npm-debug.log
.DS_Store

# Environment variables
/api/.env

# React build files
/client/build
/client/build
/client/dist
.cache
.env.local


# IDE and Editor files
.vscode/
.idea/
*.swp